* {
  margin: 0;
  padding: 0;
}
*.hidden {
  display: none;
}
html {
  width: 100%;
  height: 100%;
}
ul, ol {
  margin-left: 24px;
}
ol li {
  list-style: decimal outside;        
}
ul li {
  list-style: disc outside;
}
body {
  line-height:10pt;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size:9pt;
  line-height:11pt;
}
h1 {
  font-size: 24px;
  margin: 12px 12px;
}
h2 {
  font-size: 18px;
  margin: 9px 12px;
}
body.unpadded {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
a.headline {
  font-size:12pt;
  font-weight:bold;
  line-height:14pt;
}
.ui-dialog form em {
  font-size:10pt;
  line-height:12px;
}
.source {
  font-size:10pt;
  line-height:12px;
}
div.headline {
  padding-bottom: 6px;
  margin-bottom: 6px;
}
.article {
  margin-bottom: 12px;
  padding: 6px;
  overflow: hidden;
}
table.feeds {
  width: 100%;
  padding: 6px;
}
th {
  padding: 0 6px 0 6px;
}
th.ASC::before {
  content: '\25b2 ';
}
th.DESC::before {
  content: '\25bc ';
}
th.nonsort {
  font-weight: normal;
}
th.sort {
  font-weight: bold;
  padding-right: 20px;
  background-position: right;
  background-repeat: no-repeat;
}
tr {
  font-size:9pt;
}
tr.header {
  font-size:12pt;
}
th.nonsort, tr.footer {
  font-weight: bold;
}
div.overlay {
  position: absolute;
  overflow: hidden;
  background-color: transparent;
}
div.overlay .translucent {
  background-color: transparent;
  -moz-opacity: 0.9;
  filter:alpha(opacity=90);
  opacity: 0.9;
}
div.tag_info {
  display: none;
}
span.tag {
  padding-left: 1ex;
  padding-right: 1ex;
  -moz-border-radius: 1ex;
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
}
a, a.callout, div.popup li a, h1 a {
  text-decoration: none;
}
a.ff {
  text-decoration: none;
}
form.inline select {
  width: 4em;
}
form.feed_info, form.add, div#tabset, div#settings, .padded {
  padding: 12px;
}

@media screen {
  .print {
    display: none
  }
  span.ctarrow {
    font-size: 18px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  span.buttons {
    float: right;
    font-size: 24px;
    padding-top: 6px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  ul.menu {
    position: fixed;
    padding: 0 1em 0 1em;
    margin: 0;
    width: 100%;
    z-index: 2;
    height: 32px;
  }
  ul.menu li {
    display: inline;
    list-style-type: none;
    float: left;
    /* margin: 3px; */
    height: 100%;
    margin: 0 3px 0 3px;
    position: relative;
  }
  ul.menu li span, ul.menu li.help span, ul.menu>li>a {
    display: block;
    padding: 9px 0 6px 0;
  }

  ul.menu span.button>a, ul.menu li.help span a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
  }
  ul.menu li.help {
    position: relative;
    float: right;
    padding-right: 1em;
  }
  ul.menu li ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    width: 160px;
    margin: 0;
    background-color: white;
  }
  ul.menu li ul li {
    display: list-item;
    float: none;
  }
  ul.menu li ul li a {
    display: block;
    padding: 3px;
  }
  ul.menu li:hover ul {
    display: block;
  }
  ul.menu a {
    text-decoration: none;
  }
  div.spacer {
    height: 34px;
  }
  form.inline {
    display: inline;
    margin-bottom: 0px;
  }
  body.unpadded p.menu {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  div#settings {
    padding-top: 20px;
  }
  div#settings div.ui-tabs-panel {
    padding: 20px;
  }
  div#settings div.ui-tabs-panel td {
    padding: 6px;
  }
  .col1 .article {
    margin-left:  12px;
    margin-right: 6px;
  }
  .col2 .article {
    margin-left:  6px;
    margin-right: 12px;
  }
  .col1 {
    width: 49.9%;
    float: left;
    margin-top: 10px;
    border: 0px;
    overflow: hidden;
  }
  .col2 {
    margin-top: 10px;
    border: 0px;
    overflow: hidden;
  }
} /* @media screen */

@media print {
  .screen {display: none}
  span.ctarrow {display: none}
  span.buttons {display:none}
  ul.menu {display: none}
}

/* jQuery dialog */
div.ui-dialog {
  padding: 0px;
  border: 6px ridge;
  width: 600px;
}
.ui-dialog-titlebar {
  font-weight: bold;
}
.ui-dialog-titlebar, .ui-dialog-content, .ui-dialog-buttonpane {padding: 6px}
.ui-dialog-buttonpane {text-align: center}
.ui-dialog .ui-dialog-titlebar-close {display: none}
.ui-dialog table {width: 100%}

/* tabs */
.ui-tabs-nav {
  padding-bottom: 25px;
  padding-left: 10px;
}
.ui-tabs-nav a {outline: 0}
.ui-tabs-nav ul, .ui-tabs-nav li  {
  display: inline;
  list-style-type: none;
}
.ui-tabs-nav li.ui-tabs-active a:link,
.ui-tabs-nav li.ui-tabs-active a:active,
.ui-tabs-nav li.ui-tabs-active a:visited {
  font-weight: bold;
}
.ui-tabs-nav a:link,
.ui-tabs-nav a:visited  {
  float: left;
  font-size: 12px;
  line-height: 18px;
  margin-right: 8px;
  padding: 3px 10px 3px 10px;
  text-decoration: none;
}
.ui-tabs-hide {display: none}
blockquote {
  border-left-width: 6pt;
  border-left-style: solid;
  margin: 1em;
  padding-left: 6pt;
}
.thumbsDown {
  display: none;
}

/************************************************************************/
/* colors and dark mode                                                 */
a:link {
  color: #0000ee;
}
a:visited {
  color: #551a88;
}
blockquote {
  border-left-color: #ccc;
}
div.headline {
  border-bottom: solid 1px #ddd;
}
.article {
  border: solid 1px gray;
}
.ui-tabs-nav {
  border-bottom: 1px solid #ccc;
}
.ui-tabs-nav a:link,
.ui-tabs-nav a:visited  {
  background: #eee;
  border: 1px solid #ccc;
  color: #666;
}
.ui-tabs-nav a:hover {color: #f00}
.ui-dialog form em {
  color: gray;
}
.source {
  color: #999;
}
a.error:link, a.error:visited {
  color: red
}
a.small-error:link, a.small-error:visited {
  color: orange
}
tr:hover, th.nonsort, tr.footer, span.item.tag, ul.menu {
  background-color: #bfff80;
  color: black;
}
th.sort {
  background: #fd9;
}
div.overlay .opaque, tr.odd, div.ui-dialog,
.ui-tab-nav li.ui-tabs-active a,
.ui-tabs-nav li.ui-tabs-active a:link,
.ui-tabs-nav li.ui-tabs-active a:active,
.ui-tabs-nav li.ui-tabs-active a:visited,
ul.menu span.button>a, ul.menu li.help span a, a.ff {
  background-color: white;
}
th.nonsort, tr.even {
  background:#eee;
}
span.filter-highlight {
  background-color: #fcc;
}
span.author.tag {
  background-color: #ffcc33;
  color: black;
}
span.tag.highlighted {
  color: white;
  background-color: red;
}
.ui-tabs-nav ul a:hover {
  color: #f00 !important
}
div.ui-dialog {
  border-color: green;
}
.ui-dialog-titlebar {
  border-bottom: 1px solid #d8d2aa;
  background: green;
  color: white;
}
.ui-tab-nav li.ui-tabs-active a,
.ui-tabs-nav li.ui-tabs-active a:link,
.ui-tabs-nav li.ui-tabs-active a:active,
.ui-tabs-nav li.ui-tabs-active a:visited,
a.ff {
  border-bottom: 1px solid white;
  color: black;
}
.thumbsUp {
  background-color: yellow;
  color: black;
}
@media screen {
  span.buttons span.down {
    color: #b70000;
  }
  span.buttons span.up {
    color: #00b700;
  }
  ul.menu {
    background-color: #d9ffb3;
    background: -webkit-gradient(linear, left top, left bottom, from(#d9ffb3), to(#99cc66));
    background: -moz-linear-gradient(#d9ffb3, #99cc66);
  }
  ul.menu span.button>a, ul.menu li.help span a {
    border: 1px solid rgba(0, 0, 0, 0.6);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ccc));
    background: -moz-linear-gradient(white, #ccc);
    text-shadow: rgba(255, 255, 255, 0.4) 0px 1px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
  }
  ul.menu li ul {
    border: 1px solid black;
  }
  ul.menu li ul li a {
    border: 1px solid #ccc;
  }
} /* @media screen */
@media (prefers-color-scheme: dark) {
  html {
    color: white;
    background-color: black;
  }
  a:link {
    color: #6bf;
  }
  a:visited {
    color: #0070c9;
  }
  ul.menu {
    color: black;
    background-color: white;
  }
  ul.menu a:link {
    color: #0000ee;
  }
  ul.menu a:visited {
    color: #551a88;
  }
  div.headline {
    border-bottom: solid 1px #222;
  }
  .article {
    border: solid 1px #333;
  }
  .ui-tabs-nav {
    border-bottom: 1px solid #333;
  }
  a:visited blockquote {
    border-left-color: #333;
  }
  .ui-tabs-nav a:link,
  .ui-tabs-nav a:visited  {
    background: #222;
    border: 1px solid #333;
    color: #aaa;
  }
  .ui-tabs-nav a:hover {
    color: #f00;
  }
  .ui-dialog form em {
    color: gray;
  }
  .source {
    color: #999;
  }
  a.error:link, a.error:visited {
    color: red
  }
  a.small-error:link, a.small-error:visited {
    color: orange
  }
  th.sort {
    background: #fd9;
  }
  div.overlay .opaque, tr.odd, div.ui-dialog,
  .ui-tab-nav li.ui-tabs-active a,
  .ui-tabs-nav li.ui-tabs-active a:link,
  .ui-tabs-nav li.ui-tabs-active a:active,
  .ui-tabs-nav li.ui-tabs-active a:visited,
  ul.menu span.button>a, ul.menu li.help span a, a.ff {
    background-color: black;
  }
  th.nonsort, tr.even {
    background: #222;
  }
  tr:hover, th.nonsort, tr.footer, span.item.tag, ul.menu {
    background-color: #bfff80;
    color: black;
  }
  tr:hover a:link, th a:link {
    color: #0000ee;
  }
  tr:hover a:visited, th a:visited {
    color: #551a88;
  }
  span.filter-highlight {
    background-color: #fcc;
  }
  span.author.tag {
    background-color: #ffcc33;
  }
  span.tag.highlighted {
    color: black;
    background-color: red;
  }
  .ui-tabs-nav ul a:hover {
    color: #f00 !important
  }
  div.ui-dialog {
    border-color: green;
  }
  .ui-dialog-titlebar {
    border-bottom: 1px solid #d8d2aa;
    background: green;
    color: black;
  }
  .ui-tab-nav li.ui-tabs-active a,
  .ui-tabs-nav li.ui-tabs-active a:link,
  .ui-tabs-nav li.ui-tabs-active a:active,
  .ui-tabs-nav li.ui-tabs-active a:visited,
  a.ff {
    border-bottom: 1px solid black;
    color: white;
  }
  @media screen {
    span.buttons span.down {
      color: #b70000;
    }
    span.buttons span.up {
      color: #00b700;
    }
  } /* @media screen */
} /* @media prefers-dark */
