#extends TembozTemplate
#implements respond
#from singleton import db
#set c = db.cursor()
#import time
#import normalize
<?xml version="1.0" encoding="utf-8"?>
<!-- This is a RDF-free zone -->
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Temboz - interesting articles feed</title>
  <id>http://www.majid.info/mylos/</id>
  <link href="http://www.majid.info/mylos/temboz.atom" />
  <generator uri="http://www.temboz.com/">
    Temboz
  </generator>
  <link rel="self" type="application/atom+xml"
   href="http://www.majid.info/mylos/temboz.atom" />
  <rights>Copyright (c) 2002-2009 Fazal Majid and respective authors - All rights reserved</rights>
  <updated>
#echo time.strftime('%Y-%m-%dT%H:%M:%SZ', time.gmtime())
  </updated>
#set magic =  '...'
#silent c.execute("""select item_guid, item_creator, item_title, item_link,
item_content, feed_title,
strftime('%Y-%m-%dT%H:%M:%SZ', item_created)
from fm_items, fm_feeds where item_feed_uid=feed_uid
and item_rating=1 and feed_private = 0
order by item_rated DESC, item_uid DESC
limit 50""")
#for guid, creator, title, link, content, feed_title, created in c
  #set content = self.atom_content(normalize.balance($content, 50, magic))
  #set feed_title = self.atom_content(feed_title)
  #set title = self.atom_content(title)
  #if creator == 'Unknown'
    #set $creator = $feed_title
  #end if
  #set creator = self.atom_content(creator)
  #set link = normalize.escape_xml(link)
  #set guid = normalize.escape_xml(guid)
  <entry>
    <id>$guid</id>
    <title>$feed_title: $title</title>
    <updated>$created</updated>
    <author><name>$creator</name></author>
    <content type="html">$content</content>
    <link rel="alternate" href="$link" />
##    <category term="Macintosh" />
  </entry>
#end for
#silent db.commit()
#silent c.close()
</feed>
