## -*- html -*-
<html>
<head><title>Temboz - Add a feed</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel="stylesheet" type="text/css" href="/temboz.css">
</head>
<body>
<p class="menu"><a href="/view">All unread</a>&nbsp;&nbsp;<a href="/feeds">All feeds</a></p>

Subscribe to a RSS feed:<br>
<form action="/add" method="POST">
<input size=64 name="feed_xml"><input type="submit" value="Subscribe">
</form>

########################################################################
##
## Subscribe to a feed if requested
##
########################################################################
#if $getVar("feed_xml", None)
#import update, urllib2
#try
#silent feed_uid, num_added, num_filtered = update.add_feed($feed_xml)
<p>Subscribed successfully. 
#if num_added > 0
<%=num_added%> unread articles.&nbsp;&nbsp;
<a href="/view?feed_uid=<%=feed_uid%>">view articles now</a>&nbsp;&nbsp;
<a href="/catch_up?feed_uid=<%=feed_uid%>">catch up</a>
#end if
</p>
#except update.ParseError
<p><b>Connection or parse error in attempting to subscribe to</b> $feed_xml,
check URL</p>
#except update.AutodiscoveryParseError
<p><b>Autodiscovery failed for</b> $feed_xml,
you need to find a valid feed URL.</p>
#except update.FeedAlreadyExists
<p>The URL $feed_xml is already assigned to another feed, check for duplicates.
</p>
#except urllib2.URLError, e
<p>Error loading URL during autodiscovery attempt:<p>
<pre>
<%=e.args[0]%>
</pre>
#except update.UnknownError, e
<p>Unknown error:<p>
<pre>
<%=e.args[0]%>
</pre>
#end try
#end if
</body>
</html>
