## -*- html -*-
#extends menubar
#implements respond
<!DOCTYPE HTML>
<html>
  <head><title>Temboz - Add a feed</title>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" type="text/css" href="temboz_css">
    <script>
    $MENUBAR_JQUERY
    </script>
  </head>
  <body>
#def CONTEXT_MENU
#end def
$MENUBAR(trans=trans)

<p>Subscribe to a RSS feed:</p>
<form class="add" action="add" method="POST">
<input size=64 name="feed_xml"><input type="submit" value="Subscribe">
</form>

########################################################################
##
## Subscribe to a feed if requested
##
########################################################################
#if $getVar("feed_xml", None)
#import update, urllib2
#try
#silent feed_uid, feed_title, num_added, num_filtered = update.add_feed($feed_xml)
<p>Subscribed successfully to <a href="feed_info?feed_uid=<%=feed_uid%>">$feed_title</a>.</p> 
#if num_added > 0
<p><%=num_added%> unread articles.&nbsp;&nbsp;
<a href="view?feed_uid=<%=feed_uid%>">view articles now</a>&nbsp;&nbsp;
<a href="catch_up?feed_uid=<%=feed_uid%>">catch up</a>
#end if
</p>
#except update.ParseError
<p><b>Connection or parse error in attempting to subscribe to</b> $feed_xml,
check URL</p>
#except update.AutodiscoveryParseError
<p><b>Autodiscovery failed for</b> $feed_xml,
you need to find a valid feed URL.</p>
#except update.FeedAlreadyExists
<p>The URL $feed_xml is already assigned to another feed, check for duplicates.
</p>
#except urllib2.URLError, e
<p>Error loading URL during autodiscovery attempt:<p>
<pre>
<%=e%>
</pre>
#except update.UnknownError, e
<p>Unknown error:<p>
<pre>
<%=e.args[0]%>
</pre>
#end try
#end if
########################################################################
##
## Support for Firefox feed subscriptions
##
########################################################################
#if 'Firefox' in $headers.get('user-agent', '') and $headers.get('host', '') and getattr(trans, 'path')
#set myself = $headers['host'] + trans.path
<script language="JavaScript">
function register() {
  navigator.registerContentHandler(
    'application/vnd.mozilla.maybe.feed',
    'https://$myself?feed_xml=%s','Temboz'
  );
}
</script>
<p>You seem to be running Firefox. You can <a
href="javascript:void(register());">register</a> this Temboz instance as a
feed reader to allow one-click feed subscription from within Firefox.</p>
#end if
</body>
</html>
