<html>
<head>
<title>Catch up</title>
<link rel="stylesheet" type="text/css" href="/temboz.css">
</head>
<body>
<p class="menu"><a href="/view">All unread</a>&nbsp;&nbsp;<a href="/feeds">All feeds</a></p>

#from singleton import db
#set c = db.cursor()
#silent c.execute("""select feed_title, feed_html from fm_feeds
where feed_uid=""" + $feed_uid)
#silent tup = c.fetchone()
#set title = tup[0]
#set url = tup[1]
#silent c.close()
#if $getVar("confirm", None):
#import update
#set $status = update.catch_up($feed_uid)
<b>Caught up with <a href="$url">$title</a></b>
#else:
<form action="/catch_up?feed_uid=$feed_uid" method="POST">
<input type="hidden" name="confirm" value="yes">
Please confirm you want to catch up with <a href="$url">$title</a> <input type="submit" value="Confirm">
</form>
#end if
</body>
</html>
