#extends TembozTemplate
#implements respond
<html>
########################################################################
##
## Query-string parameters for this page
##   uid
##
########################################################################
#if $getVar('title', None) is not None
########################################################################
## Update the database and display the revised content
<head>
<title>Modified article $uid</title>
<link rel="stylesheet" type="text/css" href="temboz_css">
</head>
<body>
#import update
#set status = update.update_item($uid, $href, $title, $content)
#if not status
<p>Modification of article $uid successful:</p>
<div class="col1">
<div class="article" id="art$uid">
<div class="headline"><a href="$href" class="headline">$title</a></div>
<div class="content" id="content$uid">
$content
</div>
</div>
#else
<p>Modification of article $uid failed: $status</p>
#end if
########################################################################
## HTML editor courtesy of TinyMCE
## http://tinymce.moxiecode.com/index.php
#else
#from singleton import db
#import time
#import param, normalize
#set c = db.cursor()
#silent c.execute("""select item_title, item_content, item_link from fm_items where item_uid=?""", [$uid])
#silent title, content, href = c.fetchone()
<head>
<title>Edit article $uid</title>
</head>
<body>
<script language="JavaScript" type="text/javascript" src="tiny_mce/tiny_mce.js">
</script>
<script language="JavaScript" type="text/javascript">
tinyMCE.init({
  mode: "textareas",
  theme: "advanced"
});
</script>
<h1>Edit article $uid</h1>
<form method="POST" action="edit">
<input type="hidden" name="uid" value="$uid">
<input id="title" name="title" size="80" value="$title">
<input id="href" name="href" size="80" value="$href">
#set content = normalize.escape_html(content)
<textarea id="content" name="content" cols="80" rows="24">
$content
</textarea><br>
<input type="submit" value="Save">
</form>
#end if
</body>
