#import sys, traceback, pprint
<title>Error</title>
<h1>Error</h1>

<pre>
#echo ''.join(traceback.format_exception(*$e))
</pre>


#set t = sys.exc_info()[2]
# this should not be necessary as the tracback should have at least two
# elements, one for print_stack and one for the caller function
#if t != None and t.tb_next != None
  #while t.tb_next.tb_next != None
    #set t = t.tb_next
  #end while
#end if
#if t != None
<h2>Locals</h2>
<table>
  #for name, value in [(vn, vv) for (vn, vv) in t.tb_frame.f_locals.items()]
    #set var_value = repr(value).replace('&', '&amp;').replace('<', '&lt;').replace('>', '&gt;')
  <tr><td><pre>$name</pre></td><td><pre>$var_value</pre></td></tr>
  #end for
  #silent del t
#end if
