## -*- html -*-
#extends rules_common
#implements respond
#import update
<html>
<head><title>Temboz - Feed details</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel="stylesheet" type="text/css" href="temboz_css">
<script language="JavaScript" src="temboz.js"></script>
$rule_head
</head>
<body class="unpadded">
#def CONTEXT_MENU
#end def
$MENUBAR(trans=trans)
#set $feed_uid = $getVar('feed_uid')
########################################################################
##
## Suspend or activate feed, mark it private/public or set duplicate title
## checking if requested
##
########################################################################
#if $getVar('change_op', None)
#if $getVar('change_op') == 'Activate'
<% status = 0 %>
<% update.set_status(feed_uid, status) %>
#elif $getVar('change_op') == 'Suspend'
<% status = 1 %>
<% update.set_status(feed_uid, status) %>
#elif $getVar('change_op') == 'Private'
<% private = 1 %>
<% update.update_feed_private(feed_uid, private) %>
#elif $getVar('change_op') == 'Public'
<% private = 0 %>
<% update.update_feed_private(feed_uid, private) %>
#elif $getVar('change_op') == 'Dupcheck'
<% dupcheck = 1 %>
<% update.update_feed_dupcheck(feed_uid, dupcheck) %>
#elif $getVar('change_op') == 'NoDupcheck'
<% dupcheck = 0 %>
<% update.update_feed_dupcheck(feed_uid, dupcheck) %>
#elif $getVar('change_op') == 'Exempt'
<% exempt = 1 %>
<% update.update_feed_exempt(feed_uid, exempt) %>
#elif $getVar('change_op') == 'Reinstate'
<% exempt = 0 %>
<% update.update_feed_exempt(feed_uid, exempt) %>
#end if
#end if

########################################################################
##
## Get feed statistics
##
########################################################################
#from singleton import db
#import time, pprint, update, filters
#set c = db.cursor()
#silent update.feed_info_sql(db, c, $feed_uid)
#silent feed_title, feed_desc, feed_filter, feed_html, feed_xml, feed_pubxml, delta_t, interesting, unread, uninteresting, filtered, total, status, private, exempt, dupcheck, feed_errors = c.fetchone()
#set since = self.since(delta_t)
#set unread = int(unread)
#set interesting = int(interesting)
#set uninteresting = int(uninteresting)
#set filtered = int(filtered)
#set total = int(total)
#if interesting + uninteresting > 0
#set ratio = interesting*100/(interesting + uninteresting)
#else
#set ratio = 0
#end if
#silent assert interesting + uninteresting + unread + filtered == total, feed_title
#set uninteresting = total - unread - filtered - interesting
#if feed_filter is None
#set feed_filter = ''
#end if

########################################################################
##
## Change feed title/html/desc/filter if requested
##
########################################################################
#if $getVar('feed_title', None) and $getVar('feed_title', None) != feed_title
#silent update.update_feed_title($feed_uid, $getVar('feed_title'))
<p>Feed title updated successfully.</p>
#set feed_title = $getVar('feed_title', feed_title)
#end if
#if $getVar('feed_html', None) and $getVar('feed_html', None) != feed_html
#silent update.update_feed_html($feed_uid, $getVar('feed_html'))
<p>Feed HTML link updated successfully.</p>
#set feed_html = $getVar('feed_html', feed_html)
#end if
#if $getVar('feed_desc', None) and $getVar('feed_desc', None) != feed_desc
#silent update.update_feed_desc($feed_uid, $getVar('feed_desc'))
<p>Feed description updated successfully.</p>
#set feed_desc = $getVar('feed_desc', feed_desc)
#end if
#if $getVar('feed_filter', '') and $getVar('feed_filter', '') != feed_filter
#silent update.update_feed_filter($feed_uid, $getVar('feed_filter'))
<p>Feed filter updated successfully.</p>
#set feed_filter = $getVar('feed_filter', feed_filter)
#end if
#if $getVar('feed_pubxml', None) and $getVar('feed_pubxml', None) != feed_pubxml
#silent update.update_feed_pubxml($feed_uid, $getVar('feed_pubxml'))
<p>Feed public XML link updated successfully.</p>
#set feed_pubxml = $getVar('feed_pubxml', feed_pubxml)
#end if
########################################################################
##
## Change feed URL if requested
##
########################################################################
#if $getVar('refresh', 0) == '1' or ($getVar('feed_xml', None) and $getVar('feed_xml', None) != feed_xml)
#try
#silent num_added, num_filtered = update.update_feed_xml($feed_uid, $getVar('feed_xml', feed_xml))
#silent unread += num_added
#silent filtered += num_filtered
#silent feed_errors = 0
<p>Feed refreshed successfully.</p>
#if status == 1
#set status = 0
#silent update.set_status(feed_uid, status)
<p>Feed reactivated</p>
#end if
#if num_added > 0
<p><%=num_added%> new unread articles.&nbsp;&nbsp;
<a href="view?feed_uid=$feed_uid">view articles now</a>&nbsp;&nbsp;
<a href="catch_up?feed_uid=$feed_uid">catch up</a></p>
#end if
#except update.ParseError
<p><b>Connection or parse error in attempting to subscribe to</b> $feed_xml,
check URL</p>
#except update.FeedAlreadyExists
<p>The feed $feed_xml is already assigned to another feed, check for
duplicates.</p>
#except update.UnknownError, e
<p>Unknown error:<p>
<pre>
<%=e.args[0]%>
</pre>
#end try
#end if

<h1><a href="<%=feed_html%>"><%=feed_title%></a></h1>

########################################################################
##
## Display feed URL with option to change it
##
########################################################################
<form method="POST" class="feed_info" name="feed_xml">
<table>
<tr><td>Title</td><td><input name="feed_title" size="80"
 value="<%=feed_title%>"></td></tr>
<tr><td><a href="<%=feed_html%>">Site</a></td>
<td><input name="feed_html" size="80" value="<%=feed_html%>"></td></tr>
</tr>
<tr><td><a href="<%=feed_xml%>">Feed</a></td>
<td>
<input name="feed_xml" size="80" value="<%=feed_xml%>"></td></tr>
<tr><td>Public feed</a></td>
<td>
#echo self.regurgitate_except()
<input name="feed_pubxml" size="80" value="<%=feed_pubxml%>">
(if the Feed XML is not shareable)</td></tr>
#set lines = max(4, len(feed_desc) // 80 + 1)
<tr><td>Desc</td><td><textarea cols="80" rows="$lines"
name="feed_desc"><%=feed_desc%></textarea></td></tr>
#set lines = max(4, filters.rule_lines(feed_filter))
<tr><td>Filter</td><td><textarea cols="80" rows="$lines"
name="feed_filter"><%=feed_filter%></textarea></td></tr>
<tr><td colspan="2" align="center"><input type="button" value="Clear"
 onclick="document.forms.feed_xml.feed_xml.value='';document.forms.feed_xml.feed_title.value='';document.forms.feed_xml.feed_desc.value='';document.forms.feed_xml.feed_xml.focus();">
<input type="submit" value="Change"></td></tr>
</table><br><br>

########################################################################
##
## Feed statistics
##
########################################################################
<table border="0">
<tr class="odd"><td>Last modified</td><td align="right"><%=since%></td></tr>
<tr class="even"><td><a href="view?feed_uid=$feed_uid&show=unread">Unread</a></td><td align="right"><%=unread%></td></tr>
<tr class="odd"><td><a href="view?feed_uid=$feed_uid&show=filtered">Filtered</a></td><td align="right"><%=filtered%></td></tr>
<tr class="even"><td><a href="view?feed_uid=$feed_uid&show=up">Interesting</a></td><td align="right"><%=interesting%></td></tr>
<tr class="odd"><td><a href="view?feed_uid=$feed_uid&show=down">Uninteresting</a></td><td align="right"><%=uninteresting%></td></tr>
<tr class="even"><td>Hit ratio</td><td align="right">$ratio %</td></tr>
<tr class="odd"><td>Errors</td><td align="right"><%=feed_errors%></td></tr>

########################################################################
##
## Display feed flags with option to change it
##
########################################################################
#if status == 0
#set status_text = 'Active'
#set change_op = 'Suspend'
#elif status == 1
#set status_text = 'Suspended'
#set change_op = 'Activate'
#else
#set status_text = 'Unknown'
#set change_op = 'Activate'
#end if
<tr class="even"><td>Status</td><td>$status_text&nbsp;<a href="feed_info?feed_uid=$feed_uid&change_op=$change_op">$change_op</a></td></tr>
########################################################################
#if private == 0
#set private_text = 'Public'
#set change_op = 'Private'
#elif private == 1
#set private_text = 'Private'
#set change_op = 'Public'
#else
#set private_text = 'Unknown'
#set change_op = 'Private'
#end if
<tr class="odd"><td>Privacy</td><td>$private_text&nbsp;<a href="feed_info?feed_uid=$feed_uid&change_op=$change_op">$change_op</a></td></tr>
########################################################################
#if exempt == 0
#set exempt_text = 'Not exempt'
#set change_op = 'Exempt'
#elif exempt == 1
#set exempt_text = 'Exempt'
#set change_op = 'Reinstate'
#else
#set exempt_text = 'Unknown'
#set change_op = 'Exempt'
#end if
<tr class="even"><td>Filtering exemption</td><td>$exempt_text&nbsp;<a href="feed_info?feed_uid=$feed_uid&change_op=$change_op">$change_op</a> (exempt feeds are still subject to feed-specific filtering rules).</td></tr>
########################################################################
#if dupcheck == 0
<tr class="odd"><td>Duplicate<br>title<br>checking</td><td>No duplicate checks&nbsp;<a href="feed_info?feed_uid=$feed_uid&change_op=Dupcheck">check for duplicate titles</a></td></tr>
#elif dupcheck == 1
<tr class="odd"><td>Duplicate<br>title<br>checking</td><td>Duplicate checking in effect&nbsp;<a href="feed_info?feed_uid=$feed_uid&change_op=NoDupcheck">disable duplicate checking</a></td></tr>
#else
<tr class="odd"><td>Duplicate<br>title<br>checking</td><td>Unknown&nbsp;<a href="feed_info?feed_uid=$feed_uid&change_op=NoDupcheck">disable duplicate checking</a></td></tr>
#end if
<tr class="even"><td>Refresh</td><td><a href="feed_info?feed_uid=$feed_uid&refresh=1">Manually refresh</a> feed</td></tr>
<tr class="odd"><td>Catch-up</td><td><a href="catch_up?feed_uid=$feed_uid">Mark as read</a> $unread unread articles</td></tr>
<tr class="even"><td>Purge</td><td><a href="catch_up?reload=Y&feed_uid=$feed_uid">Purge and reload</a> $unread unread articles</td></tr>
<tr class="odd"><td>Debug</td><td><a href="feed_debug?feed_uid=$feed_uid">Dump the parsed feed</a>, useful for writing <a href="rules">filtering rules</a></td></tr>
<tr class="even"><td>Hard purge</td><td><a href="hard_purge?feed_uid=$feed_uid">Completely delete</a> $total articles
#if $interesting > 0
(including $interesting flagged as interesting)
#end if
</td></tr>
</table>
<br>
$rule_tabset(c, $feed_uid)
#silent c.close()
</body></html>
