## -*- html -*-
<html>
<head><title>Temboz - All feeds</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel="stylesheet" type="text/css" href="/temboz.css">
</head>
<body>
<p class="menu"><a href="/view">All unread</a>&nbsp;&nbsp;<a href="/opml">as OPML</a>&nbsp;&nbsp;<a href="/rules">Filtering</a></p>
#set sort_key = $getVar('sort', 'interesting')
#set order = $getVar('order', 'DESC')
#from singleton import db
#import time
#set c = db.cursor()
#silent c.execute("""select feed_uid, feed_title, feed_html, feed_xml,
  julianday('now') - max(
    ifnull(
      julianday(item_modified),
      julianday(item_created))) as last_modified,
  sum(case when item_rating=1 then 1 else 0 end) as interesting,
  sum(case when item_rating=0 then 1 else 0 end) as unread,
  sum(case when item_rating=-1 then 1 else 0 end) as uninteresting,
  sum(case when item_rating=-2 then 1 else 0 end) as filtered,
  count(*) as total, feed_status
from fm_feeds, fm_items
where item_feed_uid=feed_uid
group by feed_uid, feed_title, feed_html, feed_xml
order by """ + sort_key + ' ' + order + """, lower(feed_title)""")
<table>
<tr>
#for title in ['Feed Title', 'Last modified', 'Unread', 'Filtered', 'Interesting', 'Hit Ratio', 'Total']:
#set col = title.lower().replace(' ', '_')
#if col in ['hit_ratio']:
<th class="nonsort">$title</th>
#else
#if col == sort_key:
#set css = ' class="sort"'
#set alt_order = {'ASC': 'DESC', 'DESC': 'ASC'}[order]
#else
#set css = ' class="nonsort"'
#if col in ['feed_title', 'last_modified']:
#set alt_order = 'ASC'
#else
#set alt_order = 'DESC'
#end if
#end if
<th$css><a href="/feeds?sort=$col&order=$alt_order">$title</a></th>
#end if
#end for
</tr>
#for feed_uid, feed_title, feed_html, feed_xml, delta_t, interesting, unread, uninteresting, filtered, total, status in c:
#set since = self.since(delta_t)
#set unread = int(unread)
#set interesting = int(interesting)
#set uninteresting = int(uninteresting)
#set filtered = int(filtered)
#set total = int(total)
#if interesting + uninteresting > 0:
#set ratio = interesting*100/(interesting + uninteresting)
#else
#set ratio = 0
#end if
#silent assert interesting + uninteresting + unread + filtered == total, feed_title
#set suspended = ' (suspended)' * status
<tr><td><a href="$feed_html">$feed_title</a>&nbsp;&nbsp;<a href="$feed_xml">(XML)</a>$suspended</td><td>$since</td><td><a href="/view?feed_uid=$feed_uid&show=unread">$unread</a></td><td><a href="/view?feed_uid=$feed_uid&show=filtered">$filtered</a></td><td><a href="/view?feed_uid=$feed_uid&show=up">$interesting</a></td><td><%=ratio%>%</td><td><a href="/view?feed_uid=$feed_uid&show=all">$total</a></td><td>
#if unread > 0:
<a href="/catch_up?feed_uid=$feed_uid">catch up</a>
#end if
</td></tr>
#end for
#silent db.commit()
#silent c.close()
</table>
</body></html>
