## -*- html -*-
<html>
<head><title>Temboz - Feed details</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel="stylesheet" type="text/css" href="/temboz.css">
</head>
<body>
<p class="menu"><a href="/view">All unread</a>&nbsp;&nbsp;<a href="/add">Add feed</a>&nbsp;&nbsp;<a href="/feeds">All feeds</a></p>
#set $feed_uid = $getVar('feed_uid')
#from singleton import db
#import time, pprint
#set c = db.cursor()
#silent c.execute("""select feed_title, feed_desc, feed_html, feed_xml,
  min(last_modified) as last_modified,
  sum(case when item_rating=1 then cnt else 0 end) as interesting,
  sum(case when item_rating=0 then cnt else 0 end) as unread,
  sum(case when item_rating=-1 then cnt else 0 end) as uninteresting,
  sum(case when item_rating=-2 then cnt else 0 end) as filtered,
  sum(cnt) as total,
  feed_status, feed_private, feed_dupcheck, feed_errors
from fm_feeds, (
  select item_rating, item_feed_uid, count(*) as cnt,
    julianday('now') - max(
    ifnull(
      julianday(item_modified),
      julianday(item_created)
    )
  ) as last_modified
  from fm_items
  where item_feed_uid=""" + $feed_uid + """
  group by item_rating, item_feed_uid
)
where item_feed_uid=feed_uid
group by feed_uid, feed_title, feed_html, feed_xml
""")

#silent feed_title, feed_desc, feed_html, feed_xml, delta_t, interesting, unread, uninteresting, filtered, total, status, private, dupcheck, feed_errors = c.fetchone()
#set since = self.since(delta_t)
#set unread = int(unread)
#set interesting = int(interesting)
#set uninteresting = int(uninteresting)
#set filtered = int(filtered)
#set total = int(total)
#if interesting + uninteresting > 0
#set ratio = interesting*100/(interesting + uninteresting)
#else
#set ratio = 0
#end if
#silent assert interesting + uninteresting + unread + filtered == total, feed_title
#set uninteresting = total - unread - filtered - interesting

########################################################################
##
## Change feed title/desc if requested
##
########################################################################
#if $getVar('feed_title', None) and $getVar('feed_title', None) != feed_title
#import update
#silent update.update_feed_title($feed_uid, $getVar('feed_title'))
<p>Feed title updated successfully.</p>
#set feed_title = $getVar('feed_title', feed_title)
#end if
#if $getVar('feed_desc', None) and $getVar('feed_desc', None) != feed_desc
#import update
#silent update.update_feed_desc($feed_uid, $getVar('feed_desc'))
<p>Feed description updated successfully.</p>
#set feed_desc = $getVar('feed_desc', feed_desc)
#end if
########################################################################
##
## Change feed URL if requested
##
########################################################################
#if $getVar('feed_xml', None)
#import update
#try
#silent num_added, num_filtered = update.update_feed_xml($feed_uid, $getVar('feed_xml'))
#silent unread += num_added
#silent filtered += num_filtered
#silent feed_errors = 0
#if $getVar('feed_xml', None) != feed_xml
<p>Feed URL updated successfully.
#else
<p>Feed refreshed successfully.
#end if
#if num_added > 0
<%=num_added%> new unread articles.&nbsp;&nbsp;
<a href="/view?feed_uid=$feed_uid">view articles now</a>&nbsp;&nbsp;
<a href="/catch_up?feed_uid=$feed_uid">catch up</a>
#end if
</p>
#except update.ParseError
<p><b>Connection or parse error in attempting to subscribe to</b> $feed_xml,
check URL</p>
#except update.FeedAlreadyExists
<p>The feed $feed_xml is already assigned to another feed, check for
duplicates.</p>
#except update.UnknownError, e
<p>Unknown error:<p>
<pre>
<%=e.args[0]%>
</pre>
#end try
#end if

<h1><a href="<%=feed_html%>"><%=feed_title%></a></h2>

########################################################################
##
## Display feed URL with option to change it
##
########################################################################
<form method="POST" action="/feed_info" name="feed_xml">
<table>
<tr><td>Title:</td><td><input name="feed_title" size="80"
 value="<%=feed_title%>"></td></tr>
<tr><td><a href="<%=feed_xml%>">Feed</a>:</td>
<td><input type="hidden" name="feed_uid" value="$feed_uid">
<input name="feed_xml" size="80" value="<%=feed_xml%>"></td></tr>
#set lines = max(4, len(feed_desc) // 80 + 1)
<tr><td>Desc:</td><td><textarea cols="80" rows="$lines"
name="feed_desc"><%=feed_desc%></textarea></td></tr>
<tr><td colspan="2" align="center"><input type="button" value="Clear"
 onclick="document.forms.feed_xml.feed_xml.value='';document.forms.feed_xml.feed_title.value='';document.forms.feed_xml.feed_desc.value='';document.forms.feed_xml.feed_xml.focus();">
<input type="submit" value="Change"></td></tr>
</table><br><br>

########################################################################
##
## Feed statistics
##
########################################################################
<table border="0">
<tr class="odd"><td>Last modified</td><td align="right"><%=since%></td></tr>
<tr class="even"><td><a href="/view?feed_uid=$feed_uid&show=unread">Unread</a></td><td align="right"><%=unread%></td></tr>
<tr class="odd"><td><a href="/view?feed_uid=$feed_uid&show=filtered">Filtered</a></td><td align="right"><%=filtered%></td></tr>
<tr class="even"><td><a href="/view?feed_uid=$feed_uid&show=up">Interesting</a></td><td align="right"><%=interesting%></td></tr>
<tr class="odd"><td><a href="/view?feed_uid=$feed_uid&show=down">Uninteresting</a></td><td align="right"><%=uninteresting%></td></tr>
<tr class="even"><td>Hit ratio</td><td align="right">$ratio %</td></tr>
<tr class="odd"><td>Errors</td><td align="right"><%=feed_errors%></td></tr>

########################################################################
##
## Suspend or activate feed, mark it private/public or set duplicate title
## checking if requested
##
########################################################################
#if $getVar('change_op', None)
#import update
#if $getVar('change_op') == 'Activate'
<% status = 0 %>
<% update.set_status(feed_uid, status) %>
#elif $getVar('change_op') == 'Suspend'
<% status = 1 %>
<% update.set_status(feed_uid, status) %>
#elif $getVar('change_op') == 'Private'
<% private = 1 %>
<% update.update_feed_private(feed_uid, private) %>
#elif $getVar('change_op') == 'Public'
<% private = 0 %>
<% update.update_feed_private(feed_uid, private) %>
#elif $getVar('change_op') == 'Dupcheck'
<% dupcheck = 1 %>
<% update.update_feed_dupcheck(feed_uid, dupcheck) %>
#elif $getVar('change_op') == 'NoDupcheck'
<% dupcheck = 0 %>
<% update.update_feed_dupcheck(feed_uid, dupcheck) %>
#end if
#end if
########################################################################
##
## Display feed flags with option to change it
##
########################################################################
#if status == 0
#set status_text = 'Active'
#set change_op = 'Suspend'
#elif status == 1
#set status_text = 'Suspended'
#set change_op = 'Activate'
#else
#set status_text = 'Unknown'
#set change_op = 'Activate'
#end if
<tr class="even"><td>Status</td><td>$status_text&nbsp;<a href="/feed_info?feed_uid=$feed_uid&change_op=$change_op">$change_op</a></td></tr>
########################################################################
#if private == 0
#set private_text = 'Public'
#set change_op = 'Private'
#elif private == 1
#set private_text = 'Private'
#set change_op = 'Public'
#else
#set private_text = 'Unknown'
#set change_op = 'Private'
#end if
<tr class="odd"><td>Privacy</td><td>$private_text&nbsp;<a href="/feed_info?feed_uid=$feed_uid&change_op=$change_op">$change_op</a></td></tr>
########################################################################
#if dupcheck == 0
<tr class="even"><td>Duplicate<br>title<br>checking</td><td>No duplicate checks&nbsp;<a href="/feed_info?feed_uid=$feed_uid&change_op=Dupcheck">check for duplicate titles</a></td></tr>
#elif dupcheck == 1
<tr class="even"><td>Duplicate<br>title<br>checking</td><td>Duplicate checking in effect&nbsp;<a href="/feed_info?feed_uid=$feed_uid&change_op=NoDupcheck">disable duplicate checking</a></td></tr>
#else
<tr class="even"><td>Duplicate<br>title<br>checking</td><td>Unknown&nbsp;<a href="/feed_info?feed_uid=$feed_uid&change_op=NoDupcheck">disable duplicate checking</a></td></tr>
#end if
<tr class="odd"><td>Catch-up</td><td><a href="catch_up?feed_uid=$feed_uid">Mark as read</a> $unread unread articles</td></tr>
<tr class="even"><td>Purge</td><td><a href="catch_up?reload=Y&feed_uid=$feed_uid">Purge and reload</a> $unread unread articles</td></tr>
#silent c.close()
</table>
########################################################################
##
## Do a real-time fetch of the feed to show variables available for
## filtering
##
########################################################################
<h2>Feed variables</h2>
#import feedparser
#set f = feedparser.parse(feed_xml)
#for var in f.feed
feed_$var<br>
#end for

<h2>Item variables</h2>
#if 'items' in f and f['items']
#for var in f['items'][0]
$var<br>
#end for
#end if

<h2>Feed dump</h2>

<pre>
#echo pprint.pformat(f)
</pre>

</body></html>
