## -*- html -*-
#extends TembozTemplate
#implements respond
<html>
<head><title>Temboz - All feeds</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel="stylesheet" type="text/css" href="temboz.css">
</head>
<body>
<p class="menu"><a href="view">All unread</a>&nbsp;&nbsp;<a href="add">Add feed</a>&nbsp;&nbsp;<a href="opml">as OPML</a>&nbsp;&nbsp;<a href="rules">Filtering</a> <span class="help"><a href="http://www.temboz.com/temboz/wiki?p=AllFeedsPage" target="_blank">Help</a></span></p>
#set sort_key = $getVar('sort', '(unread > 0) DESC, snr')
#if sort_key == 'feed_title'
#set sort_key = 'lower(feed_title)'
#end if
#set order = $getVar('order', 'DESC')
#from singleton import db
#import time
#set c = db.cursor()
#silent c.execute("""select feed_uid, feed_title, feed_html, feed_xml,
  last_modified,
  interesting, unread, uninteresting, filtered, total,
  interesting / (total - filtered - unread) * 100 as snr,
  feed_status, feed_private, feed_errors
from (
  select feed_uid, feed_title, feed_html, feed_xml,
    min(last_modified) as last_modified,
    sum(case when item_rating=1 then cnt else 0 end) as interesting,
    sum(case when item_rating=0 then cnt else 0 end) as unread,
    sum(case when item_rating=-1 then cnt else 0 end) as uninteresting,
    sum(case when item_rating=-2 then cnt else 0 end) as filtered,
    sum(cnt) as total,
    feed_status, feed_private, feed_errors
  from fm_feeds left outer join (
    select item_rating, item_feed_uid, count(*) as cnt,
      julianday('now') - max(
      ifnull(
	julianday(item_modified),
	julianday(item_created)
      )
    ) as last_modified
    from fm_items
    group by item_rating, item_feed_uid
  ) on feed_uid=item_feed_uid
  group by feed_uid, feed_title, feed_html, feed_xml
) order by feed_status ASC, """ \
    + sort_key + ' ' + order + """, lower(feed_title)""")
<table>
<tr>
########################################################################
##
## Produce column headings with appropriate sort order
##
## XXX should indicate the sort order for columns using CSS background-image
##
########################################################################
#for title in ['Feed Title', 'Last modified', 'Unread', 'Filtered', 'Interesting', 'SNR', 'Total']
#set col = title.lower().replace(' ', '_')
#if col == sort_key
#set css = ' class="sort' + order + '"'
#set alt_order = {'ASC': 'DESC', 'DESC': 'ASC'}[order]
#else
#set css = ' class="nonsort"'
#if col in ['feed_title', 'last_modified']
#set alt_order = 'ASC'
#else
#set alt_order = 'DESC'
#end if
#end if
<th$css><a href="feeds?sort=$col&order=$alt_order">$title</a></th>
#end for
</tr>
#set rownum = 0
########################################################################
##
## Loop over feeds
##
########################################################################
#for feed_uid, feed_title, feed_html, feed_xml, delta_t, interesting, unread, uninteresting, filtered, total, snr, status, private, errors in c
#set since = self.since(delta_t)
#set unread = int(unread)
#set interesting = int(interesting)
#set uninteresting = int(uninteresting)
#set filtered = int(filtered)
#set total = int(total)
#if interesting + uninteresting > 0
#set ratio = interesting*100/(interesting + uninteresting)
#else
#set ratio = 0
#end if
#silent assert interesting + uninteresting + unread + filtered == total, feed_title + ' interesting ' + repr(interesting) + ' uninteresting ' + repr(uninteresting) + ' unread ' + repr(unread) + ' filtered ' + repr(filtered) + ' total ' + repr(total) + ' does not add up'
#set flags = ['suspended'] * status + ['private'] * private
#if flags
#set flags = ' (' + ', '.join(flags) + ')'
#else
#set flags = ''
#end if
########################################################################
##
## Alternate row colors for improved legibility
##
########################################################################
#set rownum = rownum + 1
#if rownum % 2
#set rowcolor = 'odd'
#else
#set rowcolor = 'even'
#end if
########################################################################
##
## Flag feeds with errors
##
########################################################################
#if errors > 0
#set error_flag = ' class="error"'
#else
#set error_flag = ''
#end if
<tr valign="top" class="$rowcolor"><td><a href="$feed_html">$feed_title</a>&nbsp;&nbsp;<a$error_flag href="$feed_xml">(XML)</a><a href="feed_info?feed_uid=$feed_uid"> (details)</a>$flags</td><td nowrap align="right">$since</td><td nowrap align="right"><a href="view?feed_uid=$feed_uid&show=unread">$unread</a></td><td nowrap align="right"><a href="view?feed_uid=$feed_uid&show=filtered">$filtered</a></td><td nowrap align="right"><a href="view?feed_uid=$feed_uid&show=up">$interesting</a></td><td nowrap align="right"><%=ratio%>%</td><td nowrap align="right"><a href="view?feed_uid=$feed_uid&show=all">$total</a></td><td nowrap>
#if unread > 0
<a href="catch_up?feed_uid=$feed_uid">catch up</a>
#end if
</td></tr>
#end for
#silent db.commit()
#silent c.close()
</table>
</body></html>
