<html>
<head>
<title>Hard purge</title>
<link rel="stylesheet" type="text/css" href="temboz.css">
#from singleton import db
#set c = db.cursor()
#silent c.execute("""select feed_title, feed_html from fm_feeds
where feed_uid=""" + $feed_uid)
#silent tup = c.fetchone()
#set title = tup[0]
#set url = tup[1]
#silent c.close()
########################################################################
##
## Check if confirmation is required
##
########################################################################
#import param
#if not getattr(param, 'hard_purge_confirm', True) or $getVar("confirm", None)
#import update
#set $status = update.hard_purge($feed_uid)
#if $status
</head>
<body>
Error: $status
#else
<meta http-equiv="refresh" content="0; URL=/feeds">
</head>
<body>
<b>Deleted <a href="$url">$title</a></b>
#end if
#else
</head>
<body>
<p class="menu"><a href="view">All unread</a>&nbsp;&nbsp;<a href="feeds">All feeds</a></p>
<form action="/hard_purge?feed_uid=$feed_uid" method="POST">
<input type="hidden" name="confirm" value="yes">
Please confirm you want to completely delete all articles and the feed itself
<a href="$url">$title</a> <input type="submit" value="Confirm">
</form>
#end if
</body>
</html>
