#extends TembozTemplate
#implements respond
<html>
<head><title>Temboz - Maintenance</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel="stylesheet" type="text/css" href="temboz_css">
</head>
<body class="unpadded">
<div class="menu"><a href="view">All unread</a>&nbsp;&nbsp;<a href="add">Add
feed</a>&nbsp;&nbsp;<a href="opml">as OPML</a>&nbsp;&nbsp;<a
href="rules">Filtering</a> <span class="help"><a
href="http://www.temboz.com/temboz/wiki?p=AllFeedsPage"
target="_blank">Help</a></span></div>
## #from singleton import db
## #set c = db.cursor()

#import update
## #silent update.snr_mv(db, c)
#silent update.cleanup()
</body></html>
