#extends TembozTemplate
#implements respond
#def menubar
<div>
<ul id="top-menu" class="sf-menu sf-js-enabled sf-shadow">
<li class="current">Menu 1</li>
<li class="">Menu 2</li>
</ul>
</div>
<script type="text/javascript"> 
\$(document).ready(function(){ 
  \$("ul.sf-menu").superfish(); 
}); 
</script>
#end def
