## -*- html -*-
#extends rules_common
#implements respond
#from singleton import db
#import filters
#set c = db.cursor()
<html>
  <head><title>Temboz - Filtering rules</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" type="text/css" href="temboz_css">
    <script language="JavaScript" src="temboz.js"></script>
    $rule_head
  </head>
  <body class="unpadded>
    <div class="menu"><a href="view">All unread</a>&nbsp;&nbsp;<a
    href="view?show=filtered">All filtered</a>&nbsp;&nbsp;<a href="feeds">All
    feeds</a></div>

    #if $getVar("uid", None)
      #set $status = filters.update_rule(db, c, $uid, $expires, $text,
                                         $getVar("delete", None))
    #end if

    $rule_tabset(c, None)
  </body>
</html>
