## -*- html -*-
#extends rules_common
#implements respond
#from singleton import db
#import filters
#set c = db.cursor()
<!DOCTYPE HTML>
<html>
  <head><title>Temboz - Filtering rules</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" type="text/css" href="temboz_css">
    <script language="JavaScript" src="temboz.js"></script>
    $rule_head
    <script>
    $MENUBAR_JQUERY
    </script>
  </head>
  <body>
#def CONTEXT_MENU
<li><span><a href="view?show=filtered">All filtered</a></span></li>
#end def
$MENUBAR(trans=trans)

    #if $getVar("uid", None)
      #set $status = filters.update_rule(db, c, $uid, $expires, $text,
                                         $getVar("delete", None))
    #end if

    $rule_tabset(c, None)
  </body>
</html>
