body {
  line-height:10pt;
  font-family: verdana, arial, sans-serif;
  font-size:9pt;
  line-height:11pt;
}
body.unpadded {
  padding:0px;
  margin:0px;
}
a.headline {
  font-size:12pt;
  font-weight:bold;
  line-height:14pt;
}
.source {
  font-size:10pt;
  line-height:12px;
  color: gray;
}
.up, .down {
  float: right;
}
.article {
  border: solid 1px gray;
  margin-bottom: 12px;
  padding: 6px;
  overflow: hidden;
}

p.menu {
  margin: 20px;
  background: #BFFF80;
}

.col1 .article {
  margin-left:  20px;
  margin-right: 10px;
}

.col2 .article {
  margin-right: 20px;
  margin-left:  10px;
}

.col { width: 43%; float: left; margin: 5px}
.col1 {
  width: 50%;
  float: left;
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow: hidden;
}
.col2 {
  width: 50%;
  float: right;
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow: hidden;
}
th.nonsort {
  background: #eee;
  font-weight: normal;
}
th.sortASC {
  background: #ddf;
  color: red;
  font-weight: bold;
  padding-right: 20px;
  background-image: url(asc.gif);
  background-position: rightt;
  background-repeat: no-repeat;
}
th.sortDESC {
  background: #ddf;
  color: red;
  font-weight: bold;
  padding-right: 20px;
  background-image: url(desc.gif);
  background-position: right;
  background-repeat: no-repeat;
}
tr.odd {
  background: white;
  font-size:9pt;
}
tr.even {
  background:#eee;
  font-size:9pt;
}
a.error:link, a.error:visited {
  color: red;
}
