body {
  line-height:10pt;
  font-family: georgia;
  font-size:9pt;

}
a.headline {
  font-size:12pt;
  font-weight:bold;
  line-height:14pt;
}
.source {
  font-size:10pt;
  line-height:12px;
  color: gray;
}
.up, .down {
  float: right;
}
.article {
  border: solid 1px gray;
  margin-bottom: 12px;
  padding: 3pt;
  overflow: hidden;
}

.col { width: 43%; float: left; margin: 5px}
