## -*- html -*-
#extends TembozTemplate
#implements respond
#import threadframe, traceback, pprint
#set frames = threadframe.dict()
#set row = 0
#for thread_id, frame in frames.iteritems():
#set row = row + 1
#if row % 2
#set color = '#ddd'
#else
#set color = 'white'
#end if
<div style="background-color: $color">
<pre>
#echo 'Thread %s (%d refs)' % (thread_id, sys.getrefcount(frame))
#echo ''.join(traceback.format_stack(frame)).replace('&', '&amp;').replace('<', '&lt;').replace('>', '&gt;')
<hr>
#echo pprint.pformat(frame.f_locals).replace('&', '&amp;').replace('<', '&lt;').replace('>', '&gt;')
</pre>
</div>
#end for
