## -*- html -*-
########################################################################
##
## Query-string parameters for this page
##   show
##   feed_uid
##   search
##   where_clause
##   offset
##
########################################################################
#from singleton import db
#import time
#import param
########################################################################
##
## What items to use
##   unread:   unread articles (default)
##   up:       articles already flagged interesting
##   down:     articles already flagged uninteresting
##   filtered: filtered out articles
##   mylos:    read-only view, e.g. http://www.majid.info/mylos/temboz.html
##
########################################################################
#set public = False
#set $show = $getVar('show', 'unread')
#if $show == 'up'
#set item_desc = 'interesting'
#set where_clause = 'item_rating > 0'
#elif $show == 'mylos'
#set public = True
#set item_desc = 'interesting'
#set where_clause = 'item_rating > 0'
#elif $show == 'down'
#set item_desc = 'uninteresting'
#set where_clause = 'item_rating = -1'
#elif $show == 'filtered'
#set item_desc = 'filtered'
#set where_clause = 'item_rating = -2'
#elif $show == 'all'
#set item_desc = 'all'
#set where_clause = 'item_rating is not null'
#else
#set item_desc = 'unread'
#set where_clause = 'item_rating = 0'
#end if
########################################################################
##
## Optionally restrict view to a single feed
##
########################################################################
#if $getVar('feed_uid', None)
#set where_clause = where_clause + ' and item_feed_uid=' + $feed_uid
#end if
########################################################################
##
## Crude search functionality
##
########################################################################
#if $getVar('search', None)
#if $getVar('search_in', 'title') == 'title'
#set search_where = 'item_title'
#else
#set search_where = 'item_content'
#end if
#set where_clause = where_clause + ' and lower(' + search_where + ') like '
#from update import escape
#set where_clause = where_clause + "'%%%s%%'" % escape($getVar('search').lower())
#end if
########################################################################
##
## Preliminary support for offsets to read more than overload_threshold
## articles, not fully implemented yet
##
########################################################################
#if not $getVar('offset', None)
#set offset = '0'
#end if
#set offset = int(offset)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Temboz - $item_desc items</title>
<meta name="robots" content="noarchive,noindex,follow,nocache">
########################################################################
##
## This script handle Thumbs up/down using the XMLHttpRequest method
## if available, or by loading a pixel (less reliable) otherwise.
## XXX doesn't use XMLHttpRequest on IE6 as coded here
##
########################################################################
<script language="JavaScript">
hidden = Array();
#if public
#set img_prefix = 'images'
#set overload_threshold = 50
function webop(op, uid) {
  ; // don't do anything about up/down yet
}
#else
#set overload_threshold = param.overload_threshold
#set img_prefix = ''
var i = new Image();
function webop(op, uid) {
  if (window.XMLHttpRequest) {
    var x = new XMLHttpRequest();
  } else {
    var x = false;
  }
  if (x) {
    x.open('GET', '/xmlfeedback/' + op + '/' + Math.random().toString().substring(8) + '/' + uid + '.xml');
    x.send(null);
  } else {
    i.src = '/feedback/' + op + '/' + Math.random().toString().substring(8) + '/' + uid + '.gif';
  }
}
#end if
function hide(id) {
  elt = document.getElementById('art' + id);
  if(elt.style.backgroundColor == "yellow") {
    elt.style.backgroundColor = "";
    webop('basic', id);
  } else {
    hidden[hidden.length] = elt;
    elt.style.display = "none";
    webop('demote', id);
  }
}
function highlight(id) {
  elt = document.getElementById('art' + id);
  elt.style.backgroundColor = "yellow";
  webop('promote', id);
}
function unhide_all() {
  for(i=0; i<hidden.length; i++) {
    elt = hidden[i];
    elt.style.display = "block";
    webop('basic', elt.id.substring(3));
  }
  hidden = Array();
}
function unhide_last() {
  if(hidden.length > 0) {
    elt = hidden[hidden.length - 1];
    elt.style.display = "block";
    webop('basic', elt.id.substring(3));
    hidden.length = hidden.length - 1
  }
}
function toggle(item) {
	document.items[item].checked = !document.items[item].checked;
}
</script>
########################################################################
##
## If show=mylos, we switch to a special read-only view of the last 50
## (by default) items
##
########################################################################
#if public
<link rel="stylesheet" type="text/css" href="gems/temboz.css">
<p class="menu">This page is produced automatically from my RSS aggregator, <a
href="http://www.temboz.com/">Temboz</a>. It shows the last 50 articles from
the feeds in blogroll I found interesting. Clicking the "thumbs up" icons will
highlight the article, clicking "thumbs down" will make it disappear (or
cancel the highlight if highlighted).</p>
#else
<link rel="stylesheet" type="text/css" href="temboz.css">
#end if
## work-around IE's defective position: fixed
## see also: http://www.enorg.org/faq/csshacks.html
<!--[if IE]>
<style type="text/css">
body.unpadded {
  margin-top: 0px;
}
div.menu {
  margin-top: 0px;
  padding-top: 0px;
}
.col1, .col2 {
  top: 1cm;
}
</style>
<![endif]-->
</head>
<body class="unpadded">
#set c = db.cursor()
########################################################################
##
## Support for arbitrary where clauses in the view script. Not directly
## accessible from the UI
##
########################################################################
#if $getVar('where_clause', False)
#set where_clause = where_clause + ' and ' + $getVar('where_clause')
#end if
########################################################################
##
## Update the view timestamp
##
########################################################################
#silent c.execute("""update fm_items set item_viewed=julianday('now') where item_uid in (select item_uid from fm_items where """ + where_clause + """
order by item_created DESC, item_uid DESC
limit %d offset %d)""" % (overload_threshold, offset))
#silent c.execute("""select count(*) from fm_items where """ + where_clause)
########################################################################
##
## We try to get a balanced two-column design by having as many articles
## on either side. Very long articles will unbalance the flow, but this
## works reasonably well in practice.
##
########################################################################
#set num_items = int(c.fetchone()[0])
#set cutoff = (num_items + 1) / 2 + 1
#set count = 0
<div class="menu">
#if not public
<form method="GET" action="/view" target="_blank" class="menu">
#end if
<p class="menu">$num_items $item_desc
#if num_items > overload_threshold
($overload_threshold shown)
#set cutoff = (overload_threshold + 1) / 2 + 1
#end if
&nbsp;&nbsp;<a href="javascript:unhide_all();">Unhide all</a>&nbsp;&nbsp;<a href="javascript:unhide_last();">Unhide last</a>
#if public
</p>
#else
&nbsp;&nbsp;<a href="/feeds">All feeds</a>&nbsp;&nbsp;<a href="/add">Add feed</a>&nbsp;&nbsp;<a href="/rules">Filters</a>&nbsp;&nbsp;
########################################################################
##
## Crude search functionality
##
########################################################################
#if $getVar('feed_uid', None)
<input name="feed_uid" type="hidden" value="$feed_uid">
#end if
<input name="show" type="hidden" value="$show">
<input name="search" value="$getVar('search', '')">
<select name="show">
<option value="all" selected>All articles</option>
<option value="unread">Unread only</option>
<option value="down">Uninteresting only</option>
<option value="up">Interesting only</option>
<option value="filtered">Filtered only</option>
</select>
<select name="search_in">
<option value="title" selected>in titles</option>
<option value="content">in content</option>
</select>
<input type="submit" value="Search"></p></form>
#end if
</div>
########################################################################
##
## Fetch overload_threshold (default 200) items
##
########################################################################
#silent c.execute("""select item_uid, item_creator, item_title, item_link,
item_content, datetime(item_loaded), date(item_created), feed_uid,
feed_title, feed_html, feed_xml, julianday('now') - julianday(item_created)
from fm_items, fm_feeds where item_feed_uid=feed_uid
and """ + where_clause + ' and feed_private = 0' * public + """
order by item_created DESC, item_uid DESC
limit %d""" % overload_threshold)
<div class="col1">
#for uid, creator, title, link, content, loaded, created, feed_uid, feed_title, feed_html, feed_xml, delta_created in c
#set count += 1
#if count == cutoff
## this empty paragraph prevents the right column from resizing when all items
## in the left column are dismissed
<p></p>
</div><div class="col2">
#end if
########################################################################
##
## URL to use for the article title link
## we are not doing any logging yet, no point for an unnecessary redirect
##
########################################################################
## disabled for now: #set redirect = '/redirect/' + `uid`
#set redirect = link
#set since_when = self.since(delta_created)
#set creator = creator.replace('"', '\'')
########################################################################
##
## Actual article display
##
########################################################################
<div class="article" id="art$uid"><div class="headline"><img
width="32" height="32" alt="up" src="<%=img_prefix%>/up.gif" class="up"
onclick="highlight('$uid')" /><img width="32" height="32" alt="down"
src="<%=img_prefix%>/down.gif" class="down" onclick="hide('$uid')"
/><a href="<%=redirect%>" class="headline" target="_blank"
title="by $creator, cached at $loaded"
onclick="highlight('$uid');">$title</a><br><a
href="feed_info?feed_uid=$feed_uid" title="" class="source">$feed_title</a>
$since_when<br></div><div
class="content">
$content
</div></div>
#end for
</div>
#silent db.commit()
#silent c.close()
########################################################################
##
## If we want to put stuff at the page footer, make sure we do not collide
## with either column
##
########################################################################
<div style="clear: both;" />
</body></html>
