## -*- html -*-
#from singleton import db
#import time
<html>
<head><title>Temboz - unread items</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<script>
hidden = Array();
function webop(op, uid) {
  var i = new Image();
  i.src = '/feedback/' + op + '/' + Math.random().toString().substring(8) + '/' + uid + '.gif';
}
function hide(id) {
  elt = document.getElementById('art' + id);
  if(elt.style.backgroundColor == "yellow") {
    elt.style.backgroundColor = "";
    webop('basic', id);
  } else {
    hidden[hidden.length] = elt;
    elt.style.display = "none";
    webop('demote', id);
  }
}
function highlight(id) {
  elt = document.getElementById('art' + id);
  elt.style.backgroundColor = "yellow";
  webop('promote', id);
}
function unhide_all() {
  for(i=0; i<hidden.length; i++) {
    elt = hidden[i];
    elt.style.display = "block";
    webop('basic', elt.id.substring(3));
  }
  hidden = Array();
}
function toggle(item)
{
	document.items[item].checked = !document.items[item].checked;
}
</script>
<link rel="stylesheet" type="text/css" href="/temboz.css">
<style type="text/css">
</style>
</head>
<body>

#set c = db.cursor()
#silent c.execute("""update fm_items set item_viewed=julianday('now') where item_rating=0""")
#silent c.execute("""select count(*) from fm_items where item_rating=0""")
#set $num_items = int(c.fetchone()[0])
#set $cutoff = ($num_items + 1) / 2 + 1
#set $count = 0
<p>$num_items new items&nbsp;&nbsp;<a href="javascript:unhide_all();">unhide all</a></p>
#silent c.execute("""select item_uid, item_creator, item_title, item_link,
item_content, datetime(item_loaded), date(item_created),
feed_title, feed_html, feed_xml, julianday('now') - julianday(item_created)
from fm_items, fm_feeds where item_feed_uid=feed_uid
and item_rating = 0 order by item_created DESC, item_uid DESC""")
<div class="col">
#for uid, creator, title, link, content, loaded, created, feed_title, feed_html, feed_xml, delta_created in c:
#set $count += 1
#if $count == $cutoff:
</div><div class="col">
#end if
#set delta_created = float(delta_created)
#if delta_created < 1.0/24:
#set since = str(int(delta_created * 24.0 * 60.0)) + ' minutes ago'
#elif delta_created < 1.0:
#set since = str(int(delta_created * 24.0)) + ' hours ago'
#elif delta_created < 3.0:
#set since = str(int(delta_created)) + ' days ago'
#else
#set since = created
#end if
<div class="article" id="art$uid"><div class="headline"><img width="32" height="32" alt="up" src="/up.gif" class="up" onclick="highlight('$uid')" /><img width="32" height="32" alt="down" src="/down.gif" class="down" onclick="hide('$uid')" /><a href="/redirect/$uid" class="headline" target="_blank" onclick="highlight('$uid');">$title</a><br><a href="$feed_html" title="" class="source">$feed_title</a> - $since<br><!-- by $creator, cached at $loaded --></div><div class="content">$content</div></div>
#end for
</div>
#silent db.commit()
#silent c.close()

<div style="clear: both;" />
<table border=1 cellpadding=3 cellspacing=0><tr><td align="center">
<a href="view.php">view new items</a>  |
<a href="view.php?what=all&how=paged">view all items, paged</a> |
<a href="view.php?what=all&when=today">view today's items</a>
</td></tr><tr><td align="center">
<a href="javascript:check_all()">flag all items</a> | 
<a href="javascript:uncheck_all()">unflag all items</a>
</td></tr><tr><td>
<a href="/panel"><b>panel</b></a> |
flagged items: <a href="javascript:mark_read()">mark as read</a> | 
<a href="javascript:mark_unread()">mark as unread</a> |
<a href="http://minutillo.com/steve/feedonfeeds/"><b>about</b></a>
</tr></td></table>


</body></html>
